 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <li> <%= link_to "Home", root_path, class:"link" %></li>
    <li><%= link_to "About", about_path, class:"link" %></li>
    <li><%= link_to "Contact", 'signups/new', class:"link" %></li>
  </div>
  
<div class="main-1">
  <div class="container">
    <span style="font-size:40px;cursor:pointer;color:white;" onclick="openNav()">&#9776</span>
    <h4>No more sorting through photos<h4> 
    
    <%= link_to 'Sign up', new_signup_path, { :class => "btn-primary" }%>
  </div>
</div>

