.main h4 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 190px 50px 2px; 
  margin-bottom: 0;
}

.main-1 h4 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 190px 50px 2px; 
  margin-bottom: 0;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 300px;
}

.main {
  background-image: url("https://lh3.googleusercontent.com/ktxorFe40C5VmEvzNaWEpN4r-DBe8TIogTg_IUzABd9FAX9CZroSF2MlYzd1xdDMxdWaL2cXtc5NAuPOaNaa5c5RfPDZHTYPo9w3EmfWhnKXrWKAAsooQ_ZmTLe3Qq_UL2IV5wyH4Q=w2400");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  margin-top: 0;
  
}


.main-1 {
  background-image: url("https://lh3.googleusercontent.com/oke6xTSmx49EGWU2SRd5Ip4JaeIp9xk7-uhOubCiK8ToQigNtHHDGmnU2B_Xn6iikmFacpWXzxLStXqTXtnj1TDzEHFXOgw8EE7ez6sJoaGMgYTfs1EybRrEmJKRB_W9-VGmH_4NNw=w2400");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  margin-top: 0;
  
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #333;
}

.sidenav li:hover {
  color: #333;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav li {font-size: 18px;}
}


